body {
    color: #000;
    font-family:Arial, Helvetica, sans-serif;
}
/* It looks like google actually uses display:inline-block */
header {
    width: auto;
    display: flex;
    justify-content: space-between;
    font-size:13px;
}

#header-left {
    margin:7px 0 0 10px;
}

/* Source is pretty weird on this, so just saying eff it */
#header-right {
    margin:7px 15px 0;
}

.header-link {
    color: #000;
    opacity:.75;
    padding-left:15px;
}

footer {
    width: 100%;
    position:fixed;
    left:0;
    bottom:0;

    display:flex;
    justify-content: space-between;

    padding: 8px 8px 8px 8px;

    background-color: #f2f2f2;
    border-top: 1px solid #dadce0;
}

.footer-link {
    color: #70757a;
    padding-left: 27px;
}

main {
    margin-top:168px;
    display:flex;
    justify-content:center;
    flex-direction:column;
}
#main-logo {
    width:272px;
    align-self: center;
}

#searchbar-container {
    border: 1px solid #dfe1e5;
    border-radius: 25px;


    margin:30px;
    width:450px;
    align-self:center;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    padding:6px 7px 6px 7px;
}


#search-textfield {
    border:hidden;
    outline:none;
    width:100%;
    margin: 0 5px 0 5px;
    font-size:16px;
    font-weight:lighter;
    opacity:.87;
}

#search-textfield:selection {
    border:hidden;
}

.search-icon {
    height:24px;
    width: 24px;
    margin-top:3px;
    margin-right: 5px;
    
}
/* this is a little too big for some reason...*/
#search-icon-standard {
    color:#9aa0a6;
    opacity:.50;
    padding-left:4px;
    transform: scale(0.85);
}
#search-by-voice-icon {
    opacity: 1;
    margin-right:10px;
    
}

#search-button-container {
    align-self:center;
}