body {
    color: #000;
    font-family:Arial, Helvetica, sans-serif;
    margin:0;
}
/* It looks like google actually uses display:inline-block */
header {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-content:center;
    font-size:13px;
    padding-top: 16px;
}

#header-left {
    margin:7px 0 0 10px;
}

/* Source is pretty weird on this, so just saying eff it */
#header-right {
    margin:0px 15px 0;
    display: flex;
    align-items:center;
}

a {
    text-decoration:none;
}

.header-link {
    color: #000;
    opacity:.75;
    margin-left:15px;
}

#apps-button {
    height:30px;
    width:30px;
    background-image:url('//ssl.gstatic.com/gb/images/i1_1967ca6a.png');
    background-size:528px 68px;
    background-position: -132px -38px;
    background-color:rgb(0,0,0,0);
    border:none;
    opacity:.5;
}

#sign-in-button {
    margin-right:12px;
    padding:6px 11px 6px 11px;
    background-color:#4285f4;
    border: 1px solid #4285f4;
    border-radius: 2px;

    font-weight: bold;
    color:white;
    opacity:1;
}

footer {
    width:100%;
    position:fixed;
    left:0;
    bottom:0;

    display:flex;
    justify-content: space-between;

    padding: 8px 0px 8px 0px;

    background-color: #f2f2f2;
    border-top: 1px solid #dadce0;
}

.footer-content {
    margin:3px;
}

.footer-link {
    color: #70757a;
    padding-left: 25px;
    font-size:14px;
}

#footer-right {
    min-width:30%;
    margin-right:30px;
    text-align:right;
}

#carbon-neutral-link {
    padding-left:5px;
}

#carbon-neutral-icon {
    height:14px;
}

main {
    margin-top:160px;
    padding:0 28px 0 28px;
    display:flex;
    justify-content:center;
    flex-direction:column;
}
#main-logo {
    width:272px;
    align-self: center;
}

#searchbar-container {
    border: 1px solid #dfe1e5;
    border-radius: 25px;


    margin: 30px;
    width:470px;
    max-width:100%;
    min-width: 400px;
    align-self:center;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    padding:6px 7px 6px 7px;
}


#search-textfield {
    border:hidden;
    outline:none;
    width:100%;
    margin: 0 5px 0 5px;
    font-size:16px;
    font-weight:lighter;
    opacity:.87;
}

#searchbar-container:hover {
    box-shadow: 0 0 8px rgb(0,0,0,.2);
}

.search-icon {
    height:24px;
    width: 24px;
    margin-top:3px;
    margin-right: 5px;
    
}

/* this is a little too big for some reason...*/
#search-icon-standard {
    color:#9aa0a6;
    opacity:.40;
    padding-left:4px;
    transform: scale(0.85);
}
#search-by-voice-icon {
    opacity: 1;
    margin-right:10px;
}

#search-button-container {
    align-self:center;
}

.search-button {
    background-color:#f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;

    padding:10px;
    color:#3c4043;
    font-size:14px;
}

.search-button:hover {
    box-shadow:0 1px 1px rgb(0,0,0,.1);
    border: 1px solid #dadce0;
}

/* MEDIA QUERIES */
@media (max-width: 840px) {
    footer {
        padding:0;
        flex-direction:column-reverse;
        align-items: center;
        line-height: 35px;
    }

    #footer-center {
        order:1;
    }
}

